<p>
% set access_action = object.get_access_action()
% set doc_name = 'quotation' if object.state in ('draft', 'sent') else 'order confirmation'
% set is_online = access_action and access_action['type'] == 'ir.actions.act_url'
% set access_name = is_online and object.template_id and 'Accept and pay %s online' % doc_name or 'View %s' % doc_name
% set access_url = is_online and access_action['url'] or None

</p><p>Dear
% if object.partner_id.is_company and object.child_ids:
    ${object.partner_id.child_ids[0].name}
% else :
    ${object.partner_id.name}
% endif
,</p>
<p>Thank you for your order.<br>
Please click the tab below to review and accept your order.
</p>

<p style="margin-left: 30px; margin-top: 10 px; margin-bottom: 10px;">
    <a href="${access_url}" style="padding: 5px 10px; font-size: 12px; line-height: 18px; color: #FFFFFF; border-color:#a24689; text-decoration: none; display: inline-block; margin-bottom: 0px; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; white-space: nowrap; background-image: none; background-color: #a24689; border: 1px solid #a24689; border-radius:3px" class="o_default_snippet_text">Review & Accept Order</a>
</p>
<p>We have attached our wire instructions for payment.</p>
<p>Best regards,</p>
<p></p>
